.tab-c {
	position: relative;
	width: 100%;
}

.tab-c input {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
}

.tab-c label {
	background: #E6E6E6;
	color: #000000;
	display: block;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.7em 0;
	padding-left: .5em;
	margin-bottom: .5em;
	border-radius: 4px;
}

.tab-c:focus {
	color: #fff;
}

.tab-c input:focus + label,
.tab-c label:hover {
	background: #0489B1;
	color: white;
	transition: 0.5s;
}

.tab-c label:hover {
	color: black;
}

.tab-content-c {
	display: none;
	overflow: hidden;
	transition: all .35s;
}

.tab-content-c p {
	margin: 1em 0;
}

.tab-c input:checked ~ .tab-content-c {
	display: block;
	max-height: 100%;
	transition: 1s;
}