/*Universal styles*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 100%; /* max width of the div */
	margin: auto; /* center the content */
	padding: auto;
}

a {
	text-decoration: none; /* none underline for the links */
}

/*************************************
HEADING
**************************************/

header {
	/*float: left;*/
	margin: 0 0 30px 0;
	padding: 30px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 2.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 1em;
	margin: -5px 0 0;
	font-weight: normal;
	line-height: normal;
}

h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	border-radius: 4px;
	margin: auto;
	padding: 5px 0;
}


/*************************************
NAVIGATION
**************************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 30px;
	text-transform: uppercase;
}

/*************************************
FOOTER
**************************************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	display: block;
	padding: 20px;
	color: #ccc; 
	margin: 400px auto 0;
	border-top: 1px solid silver;
	background: rgba(0,0,0, 0.6);
}

footer a {
	font-size: 1.3333em;
	font-weight: bold;
	color: white;
	padding: 20px;

}

/*************************************
MONITORS.PHP - FINDINGS
**************************************/

.monitors-form{
	text-align: center;
	margin: 20px auto 50px;
	border-radius: 8px;
}

.monitors-div-search{
	text-align: center;
	border-width: 1px;
	margin: 50px 0 10px;
}

.panel-group{
	padding: 0;
	border-top: solid 1px silver;
	background: #E6E6E6;
}

.panel-body{
	width: 14%;
	list-style: none;
	display: inline-block;
}

.panel-body-date{
	border: 1px solid #BBB;
	width: 120px;
	height: 33px;
	border-radius: 4px;
/*	margin: 10px auto;*/
}

.show-amount-class {
	width: 120px;
	height: 33px;
	line-height: 0.5em;
}

.button {
	width: 300px;
	display: block;
	margin: 10px auto;
	padding: 1.15em 0;
	border-radius: 4px;
	background: #0489B1;
	color: white;
	border: 0;
}

.button:hover {
	background: orange;
	font-weight: bold;
}

.monitors-results{
	width: 99%;
	font-size: 0.85em;
	margin: auto;
}

.monitors-results tr th{
	background: #0489B1;
	color: white;
	border: 1px solid silver;
}

.monitors-results tr td{
	text-align: center;
	padding: 0 2px;
	border: 1px solid silver;
}

.monitors-highlight{
	background: aliceblue;
}

.green-days {
	background: lightgreen;
}
.red-days {
	background: red;
}
.orange-days {
	background: orange;
}
.yellow-days {
	background: yellow;
}

/*************************************
MQI_results.PHP
**************************************/
.fail-decor {
	background: orange;
}

.reinspec-yes {
	background: lightblue;
}


/*************************************
INDEX.PHP
**************************************/
.div-index {
	text-align: center;
	margin-bottom: 350px;
}

/*************************************
LOGIN FORM
**************************************/
.login-form-div {
	width: 450px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 4px;
	margin: 100px auto 0px;
	box-shadow: 0 15px 20px -12px rgba(0,0,0,.8);
}

.login-form {
	width: 100%;
	margin: auto;
	text-align: center;
	line-height: 4.5em;
	background: rgba(255,255,255, 0.2);
}

.login-form:hover {
	background: rgba(255,255,255, 0.8);
} 

.login-button {
	width: 95%;
	background: rgba(151,151,151, 0.6);
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	border-radius: none;
}

.login-button:hover {
	background:  rgba(255,0,0, 0.8);
	color: white;
}

.login-field {
	width: 95%;
	background: rgba(255,255,255, 0.5);
	border: 1px rgba(0, 0, 0, 0.5) solid;
}

.tablefooter {
	/*background: silver;*/
}

.login-message {
	margin: 20px auto;
	padding: 10px 0;
	width: 500px;
	background: orange;
}

/*************************************
CREATE NEW USERS
**************************************/

.new-user-table,
.change-pass-table {
	float: left;
	width: 46.8%;
	margin: 50px 1.5% 100px;
	border: 1px solid silver;
	line-height: 3em;
}

.new-user-title,
.change-pass-title {
	width: 100%;
	background: silver;
	font-weight: bold;
}

.new-user-fill,
.change-pass-fill {
	border: 1px solid silver;
	border-radius: 3px;
	width: 70%;
	height: 24px;
}

.new-user-content {
	margin: 20px auto;
}

.new-user-alert1 {
	background: orange;
}

.new-user-alert2 {
	background: lightgreen;
}

/*************************************
				FORM.PHP
**************************************/

.tab-content {
	box-shadow: none;
	padding: 0;
}

.whole-form {
	background: ghostwhite;
	padding: 0 1em;
	padding-bottom: 1em;
}

.siteinfo-form {
	padding: 1em;
	display: block;
}

.siteinfo-form h3,
.checklist-form h3 {
	font-size: 20px;
	padding: 1em 0;
	text-align: left;
}

.checklist-form h3 {
	margin-bottom: 1em;
}

.siteinfo-form input,
.siteinfo-form select,
.table-form select,
.table-form textarea {
	background: rgba(255,255,255,.1);
	border: 2px solid #e8eeef;
	border-radius: 0.3em;
	height: auto;
	margin: 0;
	outline: 0;
	padding: calc(1em - 2px);
	width: 100%;
	background-color: #e8eeef;
	color: #333;
	margin-bottom: 0.5em;
}

.siteinfo-form input:focus,
.siteinfo-form select:focus,
.table-form select:focus,
.table-form textarea:focus {
	background: ghostwhite;
	border: 2px solid #0489B1;
	color: #0489B1;
}

.siteinfo-form label {
	display: block;
	padding: 0.7em 0;
}

.number {
	background: #0489B1;
	color: white;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 7px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	border-radius: 100%;
}

.checklist-form {
	font-size: 0.85em;
	clear: both;
}

.tab-group {
	clear:both;
}

/*Table form*/

.table-form label {
	background: none;
	padding: 0;
	margin: 0;
	transition: none;
	border-radius: 0;
	font-weight: normal;
}

.table-form label:hover {
	background: none;
	letter-spacing: 0;
}

.table-form select,
.table-form textarea {
	display: block;
}

.check-point-details {
	border-top: 1px solid silver;
	margin-bottom: 1em;
}

.table-form div:nth-child(1) {
	border: none;
}

.check-point-details div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.check-point-details div label {
	width: calc(100% / 3);
	padding: calc(1em - 2px);
}

.check-point-details div select,
.check-point-details div textarea {
	width: calc(2 * 100% / 3);
}

.check-point-details div:first-child {
	margin: 1em 0;
}

.check-point-details div:first-child legend,
.review-NCs span {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: lightblue;
	margin-right: 10px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	font-size: 0.9em;
}

.check-point-details div:first-child label {
	width: calc(100% - 50px);
	line-height: 1.7em;
	font-size: 1.1em;
	font-weight: bold;
}

.table-form .weight-form-label,
.table-form .weight-form-3,
.table-form .weight-form-2,
.table-form .weight-form-1 {
	display: none;
}

/*************************************
			REVIEW STYLES
**************************************/

.button-submit {
	width: 95%;
	margin-bottom: 1em;
	order: 2;
	flex: 1;
	border-radius: 0.3em;
	background: rgba(122,237,97,0.9);
	color: #333;
}

.button-submit:hover {
	background: rgba(93,102,254,0.7);
	font-weight: normal;
	color: white;
}

.button-review {
	margin-top: 1.5em;
	width: 100%;
}

/*Style for the overlay*/

#overlay {
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#overlay img {
	width: 100px;
	height: 100px;
	padding: 25px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	cursor: pointer;
}

.form-in-review {
	background: #FAFFA4;
	margin: 0 2em;
	display: flex;
	flex-direction: column;
	border-radius: 0.35em;
}

.review-site-info div,
.review-scores div {
	display: flex;
	flex-flow: row wrap;
}

.review-site-info div label,
.review-scores div label {
	width: 50%;
	align-self: center;
}

.review-site-info div p {
	width: 50%;
}

.review-site-info div p,
.review-scores div p {
	margin: 0;
	align-self: center;
}

.review-scores div {
	height: 3em;
	padding: 1em;
}

.review-scores div p {
	width: 25%;
}

/*****NCs container******/

.NCs-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	background: rgba(122,237,97,0.5);
}

.left-arrow,
.right-arrow {
	width: 70px;
	height: 150px;
}

.left-arrow {
	background: url(../img/arrows-left-icon.png) no-repeat 50% 50%;
	order: -1;
	background-size: 50px;
}

.right-arrow {
	background: url(../img/arrows-right-icon.png) no-repeat 50% 50%;
	order: 1;
	background-size: 50px;
}

.left-arrow:hover,
.right-arrow:hover {
	cursor: pointer;
}

.review-NCs {
	width: calc(100% - 140px);
	display: flex;
	flex-flow: row wrap;
	padding: 1em;
}

.review-NCs label,
.review-NCs p {
	width: 50%;
	margin: 0;
	padding: 0.3em;
}

.review-NCs .review-NCs-item {
	width: calc(100% - 50px);
}

/*************************************
			USER_DASHBOARD.PHP
**************************************/
.dashboard-table{
	margin: auto;
	width: 70%;
	line-height: 3em;
	text-align: center;
}

.tableheader{
	background: silver;
}
.tablerow td{
	border: 1px solid silver;
	width: 50%;
}

.dashboard-td1{
	background: lightgreen;
	font-weight: bold;
}

.dashboard-td2{
	background: lightpink;
	font-weight: bold;
}


/*************************************
			HOW_TO_USE_MQI.PHP
**************************************/

.table-how-reference {
	border: 1px solid silver;
	float: right;
	width: 35%;
	margin: 20px auto;
}

.table-how-status {
	display: block;
	float: left;
	width: 60%;
	margin: 20px auto;
	/*border: 1px solid silver;*/
}

.table-how-remark {
	width: 80%;
	margin: 20px auto;
	border: 1px solid silver;
}

.english-term {
	background: aliceblue;
	font-weight: bold;
	text-align: center;
}

.table-how-status tr td p{
	margin: 0.4em 0.4em;
}

.table-how-remark tr td{
	text-align: center;
}

.table-how-remark tr td p{
	text-align: left;
	margin: 0.4em 0.4em;
}

.table-how-status tr td, th{
	padding: 0 10px;
	border: 1px solid silver;
}

.table-how-remark tr td, th{
	border: 1px solid silver;
}

.table-how-reference tr td, th{
	text-align: center;
	border: 1px solid silver;
}

.how-highlight p{
	color: lightsalmon;
	text-align: center;
}

.how-red{
	background: tomato;
	/*color: white;*/
}

.how-yellow{
	background: orange;
	/*color: tan;*/
}

.how-green{
	background: lightgreen;
	/*color: white;*/
}

.how-orange{
	background: yellow;
	/*color: white;*/
}

.how-lightgreen{
	/*background: lightgreen;*/
	/*color: white;*/
}

.how-number{
	padding: 7px 30px;
}

#tab3 {
	width: 90%;
	margin: 0 auto;
	line-height: 2em;
}
/*************************************
COLOR
**************************************/

/* site body */
body {
	color: #222;
	display: block;
	width: 100%;
}

#main {
	position: relative;
}

#main:after {
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/background.jpg'); 
    width: 100%;
    height: 100%;
    background-size: 100%;
    opacity : 0.2;
    z-index: -1;
}

/* green header */
header {
	background: rgba(0,0,0, 0.2);
	border-color: #599a68;
}

/* logo text */
h1, h2 {
	color: red;
}

/* links */
a {
	color: #6ab47b; /* color of the link */
}

/* nav background on mobile */
nav {
	background: rgba(0,0,0, 0.3);
}

/* nav link */
nav a, nav a:visited { /* link color and after visited both white */
	color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover { /*selected page link and mouse hover over the link*/
	color: red;
}

/******************************************************************************
MEDIA QUERIES
*******************************************************************************/
@media ( max-width: 480px ) {

	/*NAVIGATION AND LOGIN FORM, MESSAGE, FOOTER*/
	#wrapper {
		margin: 20px 0;
	}
	.login-form-whole {
		width: 100%;
	}
	nav li {
		display: block;
		padding: 5px 15px;
	}
	nav a {
		padding: 5px 15px;
		text-transform: uppercase;
	}
	.login-form-div {
		width: 100%;
	}
	.login-message {
		width: 100%;
		margin: 0 0 10px;
		padding: 10px 0;
	}
	footer {
		margin: 70px auto 0px;
	}

	/*CREATE USERS AND CHANGE PASSWORD*/
	.new-user-table,
	.change-pass-table {
		width: 100%;
		margin: 20px 0;
	}
	.div-index p {
		padding: 0 5%;
		margin: 0 auto;
	}

	.new-user-fill,
	.change-pass-fill {
		width: 85%;
	}

	/*FINDINGS DETAILS*/
	.panel-body {
		display: block;
		width: 100%;
	}
	.panel-group {
		width: 80%;
		margin: auto;
	}
	.button-monitor {
		width: 80%;
	}

}

@media ( min-width: 480px ) and ( max-width: 700px ) {
	/*NAVIGATION AND LOGIN FORM, MESSAGE*/
	nav li {
		display: inline-block;
		padding: 7px;
	}
	nav a {
		padding: 7px;
	}
	.login-message {
		width: 450px;
	}
	footer {
		margin: 100px auto 50px;
	}
	/*CREATE USERS AND CHANGE PASSWORD*/
	.new-user-table,
	.change-pass-table {
		width: 100%;
		margin: 20px 0;
	}
	.div-index p {
		padding: 0 5%;
		margin: 0 auto 20px;
	}
	.button {
		width: 95%;
	}

	.new-user-fill,
	.change-pass-fill {
		width: 85%;
	}

	/*FINDINGS DETAILS*/
	.panel-body {
		display: block;
		width: 100%;
	}
	.panel-group {
		width: 80%;
		margin: auto;
	}
	.button-monitor {
		width: 80%;
	}

}

@media screen and (min-width: 1024px) {
	/*************************************
				FORM.PHP
	**************************************/

	.whole-form {
		max-width: 1200px;
		padding: 1.5em 1em;
		margin: 0 auto;
		border-radius: 0.5em;
	}

	.siteinfo-form {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		padding-bottom: 1.5em;
		margin-bottom: 1em;
		border-bottom: 2px solid silver;
	}

	.siteinfo-form h3 {
		width: 100%;
		padding: 0.5em 0;
		margin-bottom: 0.6em;
	}

	.siteinfo-form input,
	.siteinfo-form select {
		width: calc(0.48 * 65%);
		margin: 0.5em 0;
		margin-right: 2%;
	}

	.siteinfo-form label {
		width: calc(0.48 * 35%);
		padding-left: 1em;
	}

	/*Style for the form details*/

	.checklist-form h3 {
		margin-bottom: 0.5em;
	}

	.check-point-details {
		display: flex;
		flex-flow: row wrap;
	}

	.table-form .weight-form-label,
	.table-form .weight-form-3,
	.table-form .weight-form-2,
	.table-form .weight-form-1 {
		display: block;
	}

	.check-point-details div {
		width: 50%;
	}

	.check-point-details div:first-child {
		width: 100%;
	}

	.check-point-details div label {
		padding-left: 5em;
	}

	.check-point-details div:first-child label {
		padding-left: 0;
	}

	.check-point-details div p {
		width: calc(2 * 100% / 3);
		text-align: center;
		padding: 1em 0;
		border-radius: 0.3em;
		margin: 0;
	}

	.weight-form-1 {
		background: lightgreen;
	}

	.weight-form-2 {
		background: lightpink;
	}

	.weight-form-3 {
		background: orange;
	}

	/*************************************
				REVIEW STYLES
	**************************************/
	#overlay {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form-in-review {
		max-width: 1200px;
		margin: 1em;
	}

	.review-site-info {
		display: flex;
		flex-flow: row wrap;
		margin: 1em 2em;
		border: 0.5px solid #8C8C8C;
		border-radius: 0.3em;
	}

	.review-site-info div {
		width: 47.5%;
		margin-right: 2.5%;
		display: flex;
		flex-flow: row wrap;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		/*border-bottom: 0.5px solid #8C8C8C;*/
	}

	.review-site-info div label {
		width: 130px;
		text-align: right;
		font-style: italic;
	}
	.review-site-info div p {
		width: calc(100% - 130px);
		text-align: center;
	}

	.review-scores {
		display: flex;
		flex-flow: row wrap;
		padding: 0 2em;
		justify-content: space-between;
	}

	.review-scores div {
		width: 49%;
		margin-bottom: 10px;
		background: rgba(122,237,97,0.5);
		border-radius: 0.35em;
	}

	.review-result .score {
		text-align: center;
		align-self: center;
	}

	.review-NCs label {
		width: 100px;
		font-size: 0.9em;
		align-self: center;
		text-align: right;
		padding-right: 10px; 
	}

	.review-NCs p {
		width: calc(50% - 100px);
		align-self: center;
	}

	.review-NCs p:not(.review-NCs-item) {
		background: rgba(97,149,237,.2);
		border-radius: 3.5px;
		height: 3em;
		color: #333;
		margin: 0;
		margin-bottom: 0.5em;
		padding: 0.7em;
		font-size: 0.9em;
		text-align: center;
		/*Required properties to achieve text-overflow*/
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}