/*---------TABS----------*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#E6E6E6;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#0489B1;
	color:#FFFFFF;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:10px;
	border-radius:3px;
	box-shadow:-1px 1px 1px 1px rgba(0,0,0,0.30);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}